@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Neucha", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer {
  .todo-card {
    @apply w-11/12 lg:w-auto text-lg flex-1 p-1 border-none md:text-xl focus:outline-none;
  }

  .todo-headings {
    @apply font-sans font-semibold flex gap-x-2 items-center justify-start;
  }

  .icons {
    @apply flex gap-x-2 cursor-pointer;
  }
}
